/* Your Website Styles */

h1 {
	font-family: 'Butcherman', cursive;
}

h3 {
	font-family: 'Bowlby One', cursive;
}

p {
	font-family: 'Inconsolata', sans-serif;
}

/* Show Grid */
.showgrid {
	background: url("../img/grid-bg.png") repeat-y;
}